#bounding-box {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(145, 180, 209);
  padding: 15px;
}

.stand-alone {
  display: flex;
  border: 2px solid #274458; /* Border width, style, and color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the border */
  margin: 5px;
}

display-list {
  flex-grow: 2;
}